{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "rules": {
        "react/jsx-props-no-spreading": 0,
        "import/prefer-default-export": 0,
        "import/no-unresolved": 1,
        "react/jsx-filename-extension": [ 
            1, 
            { "extensions": [
                ".js",
                ] 
            }
        ]
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "globals": {
        "document": true
    },
    "settings": {
        "import/resolver": {
          "node": {
            "moduleDirectory": ["node_modules", "src/"]
          }
        }
      }
}